<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- XML name space -->
<head>
<meta charset="ISO-8859-1">
<title th:utext="${titleofPage}">Insert title here{}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome</a>
    </div>
  </div>
</nav>
<h1 th:utext="${msg}">Importent Message will display here</h1>
<form th:action="@{save}" method="post">
	<table class="table">
	<caption>
			<h1>Registration Form</h1>
		</caption>
		<!-- <tr>
			<td><b>Employee Id</b></td>
			<td><input type="text" th:field="${employee_add.id}"
				placeholder="Enter id here"></td>
		</tr> -->
		<tr>
			<td><b>Employee Name</b></td>
			<td><input type="text" th:field="${employee_add.name}"
				placeholder="Enter name here"></td>
		</tr>
		<tr>
			<td><b>Employee Address</b></td>
			<td><input type="text" th:field="${employee_add.address}"
				placeholder="Enter address here"></td>
		</tr>
		
		<tr>
			<td><b>Employee Phone</b></td>
			<td><input type="text" th:field="${employee_add.phone}"
				placeholder="Enter phone here"></td>
		</tr>
		<tr>
			<td><input type="submit" value="Add Employee"></td>
			<td><input type="reset" value="Reset"></td>
		</tr>
		<tr>
			<td><h2><a th:href="@{list}" class="btn btn-primary">List Employee</a></h2><br>
		</tr>
	</table>
</form>
</body>
</html>